{{render-header}}

	<div class="title"><h1>Book Details</h1></div>
	<form {{action 'saveBook' model.musicBook on='submit'}}>
		<div class="content">
				<img src={{model.musicBook.imgUrl}}>
				<div class="data">
				<p>Name: {{input type="text" value=model.musicBook.title }}</p>
				{{!-- <p>Author: {{input type="d" value=model.musicBook.author.fullName}}</p> --}}
				<p>
					Author: {{model.musicBook.author.fullName}}
					<button {{action 'showAuthors' on='click'}}>Cambiar Author</button>
				</p>
				{{#if isChangingAuthor}}
				<p>Selecciona un author</p>
				{{#each model.authors as |author|}}
					<p>
					<a href="#" {{action 'selectAuthor' author on='click'}} >{{author.fullName}}</a>
					</p>
				{{/each}}
				{{/if}}
				<p>Price: {{input type="text" value=model.musicBook.price }}</p>
				<p>Url: {{input type="text" value=model.musicBook.imgUrl }} </p>
				<button class="btn" {{action 'buyBook' model.book on='click'}}>Add to cart</button>
				<button class="btn" type="submit" disabled={{if model.isSaving 'true' ''}} >Edit</button >
				<button class="btn" disabled={{if model.isSaving 'true' ''}} {{action 'deleteBook' model on='click'}}>
					Delete
				</button>
			</div>
		</div>
	
	</form>