
	<body>
	<header>
		<div class="wrapper">
			<img src="http://www.iespuntalarga.es/wp-content/uploads/2017/07/libro.png">
			<h1>BookStore</h1>
		</div>
	</header>
	</body>
<div class="title"><h1>Books</h1></div>

<div class="content">
	{{#each model as |book|}}
			<img src={{book.imgUrl}}>
			<div class="data">
				<p>Name: {{book.title}}</p>
				<p>Author: {{book.author}} </p>
				<p>Price: {{book.price}} </p>
				<a href=>
					{{#link-to 'detail' book.id}}
						Edit
					{{/link-to}}
				</a>
			</div>
	{{/each}}
</div>
<div class="insertNew">
	<h1>Insert New</h1>	
<form {{action 'createBook' book on='submit'}}>
		<p>Title:   {{input type='text' value=title}}</p> 
		<p>Author: {{input type='text' value=author}}</p> 
		<p>Price: {{input type='text' value=price}}</p> 
		<p>URL: {{input type='text' value=imgUrl}}</p> 
		<br>
		<button class="btn" type="submit">Create Book</button>
</form>
</div>