{{render-header}}

	
<p>
</p>
<div class="main-content">
	{{#each model as |book|}}
		<div class="content">
			<div class="content-img">
					<img src={{book.imgUrl}}>
			</div>
			<div class="content-data">
				<p>Name: 
					<a href=>
						{{#link-to 'detail' book.id}}
							{{book.title}}
						{{/link-to}}
					</a>
				</p>
				<p>Author: 
					<a href=>
						{{#link-to 'detail' book.id}}
							{{book.author.fullName}}
						{{/link-to}}
					</a> 
				</p>
			</div>
		</div>
	{{/each}}
</div>
<div class="insertNew">
	<h1>Insert New</h1>	
<form {{action 'createBook' book on='submit'}}>
		<p>Title:   {{input type='text' value=title}}</p> 
		<p>Author: {{input type='text' value=author}}</p> 
		<p>Price: {{input type='text' value=price}}</p> 
		<p>URL: {{input type='text' value=imgUrl}}</p> 
		<br>
		<button class="btn" type="submit" >Create Book</button>
</form>
</div>