<div class="content">	
		{{#each shoppingCart.musicBooks as |book|}}
			<img src={{book.imgUrl}}>
			<div class="data">
				<p>Title: {{book.title}}</p>
				<p>Author: {{book.author}} </p>
				<p>Price: {{book.price}} </p>
			</div>
	{{/each}}
</div>
<div class="shop">
	<p>Total: {{sum}} </p>
	<p>Average: {{get-avg shoppingCart.musicBooks}} </p>
</div>





{{!-- {{#each prices as |price|}}
	<p>{{price}}</p>
{{/each}}
<h3>Total {{sum}} </h3> --}}

{{!-- <div class="title"><h1>Book Details</h1></div>
	<img src={{model.imgUrl}}>
		<div class="data">
			<p>Name: {{shoppingCart.musicBooks.title}}</p>
			<p>Author: {{shoppingCart.musicBooks.author}}</p>
			<p>Price: {{shoppingCart.musicBooks.price}}</p>
			<p>Url: {{shoppingCart.musicBooks.imgUrl}} </p>
		</div>
</div> --}}